html,body,div,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin:0;
  padding:0;
  border:0;
  font:inherit;
  font-size:100%;
}
img {
  display:block;
  width:100%;
}
a {
  text-decoration:none;
  color:rgb(10,10,10);
}
p {
  font-family:sans-serif;
  font-weight:400;
  margin:0 0.35em 1.75em 0.35em;
  line-height:1.45;
}
figcaption {
  font-family:sans-serif;
  font-style:italic;
  color:rgb(96,96,96);
  margin:0.4em 0 0.9em 0.35em;
}
div.home-container,div.container {
  max-width:42em;
  margin:auto;
}
aside {
  background-color:rgb(210,214,252);
  padding:1.25em 0.6em;
}
footer {
  background-color:rgb(88,114,150);
  color:rgb(255,255,255);
  padding:0.6em;
  box-sizing:border-box;
}
h1 {
  width:7.25em;
  margin:1em 0.5em;
}
h2 {
  font-family:serif;
  color:rgb(88,114,150);
  font-weight:600;
  font-size:1.75em;
  margin:0.3em 0 0.3em 0.15em;
}
aside h2 {
  font-size:1.15em;
  margin:0.25em 0;
}
article h2 {
  font-size:2.4em;
  margin:0.9em 0 0.3em;
}
section.main-story h2 {
  font-size:2.7em;
}
section.third-story h2 {
  font-size:1.15em;
  border-top:1px solid rgb(132,151,176);
  padding-top:0.5em;
}
nav {
  margin:0.6em;
}
nav ul li {
  list-style-type:none;
}
nav ul li a {
  color:rgb(84,110,142);
  font-family:sans-serif;
  font-weight:700;
  text-decoration:none;
}
article p {
  margin-bottom:0.9em;
}
section.main-story p,section.second-story p {
  margin-bottom:0.55em;
}
section.third-story p {
  line-height:1.05em;
}
@media only screen and (min-width:40em) {
  nav ul li {
  display:inline;
  margin-right:1.1em;
}
figcaption {
  margin:0.3rem 0 0.95rem;
}
header,h2,p {
  margin:0.25rem 0 0;
}
}@media only screen and (min-width:60em) {
  div.home-container {
  max-width:82em;
  padding:0 1em;
  display:grid;
  grid-template-columns:2.75fr 1fr;
  grid-gap:1.1em;
}
div.container {
  max-width:62em;
  padding:0 1em;
  display:grid;
  grid-template-columns:3fr 1fr;
  grid-gap:1.1em;
}
div.home-container aside {
  background:none;
  padding:0;
  margin-top:0;
}
header,footer {
  grid-column:1 / 3;
}
div.home-container main {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap:1.1em;
}
section.main-story {
  grid-column:2 / 4;
  grid-row:1 / 3;
  display:flex;
}
section.main-story a {
  display:flex;
  flex:1 0 12em;
  flex-direction:column;
}
section.main-story a figure {
  display:flex;
  flex:1 0 12em;
}
section.main-story a figure img {
  object-fit:cover;
}
section.main-story h2 {
  flex:0 0 1em;
}
section.main-story p {
  flex:0 0 4.2em;
}
section.second-story {
  display:flex;
}
section.second-story a {
  display:flex;
  flex:1 0 12em;
  flex-direction:column;
}
section.second-story a figure {
  display:flex;
  flex:1 0 12em;
}
section.second-story a figure img {
  object-fit:cover;
}
section.second-story h2 {
  flex:0 0 1em;
}
section.second-story p {
  flex:0 0 4.2em;
}
}
