/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, font, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%;
    display: block;
    max-width: 100%;
    align-content: left;
}

.container {
    max-width: 60em;
    margin: auto;
    background-color: white;

}

header {
    background-color: rgb(255, 136, 0);
    color: white;
    text-align: left;
    padding: 1.5em;
    font-family: Sutro, serif;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 1.2em;
    font-weight: 300;
}

h3 {
    color: rgb(255, 136, 0);
    font-size: 1.2em;
    padding: 0.5em 1em 0.1em;
    font-family: Sutro, serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    border-top: 2px solid rgb(255, 136, 0);
}

body {
    font-family: poppins, sans-serif;
    justify-content: center;
    background-color: #eeecec; 
}

figcaption {
    font-family: Poppins, sans-serif;  
    font-weight: 450;
    padding: 1em;
    font-style: italic;
}

figure {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    gap: 1.5em;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 1em;
}

.ingredients, .directions {
    padding: 1em;
}

ul, ol {
    list-style-position: outside;
    padding-left: 1.2em;
    font-size: 1em;
}

li {
    margin-bottom: 0.5em;
}

footer {
    background-color: rgb(255, 136, 0);
    color: white;
    padding: 1em;
    font-size: 1em;
    font-weight: 400;
}
